obj/
CarsLecturesS21.xcodeproj/
.DS_Store
Project.xcconfig
openFrameworks-Info.plist
.vscode/browse.db
.gitignore
.vscode/browse.db-shm
.vscode/browse.db-wal
bin/CarsLecturesS21_debug.app/Contents/MacOS/CarsLecturesS21_debug
bin/CarsLecturesS21_debug.app/Contents/Info.plist
bin/CarsLecturesS21_debug.app/Contents/MacOS/libfmodex.dylib
